<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div id="modal">
  <div id="modal-textbox">
    <h1>Continue in e-mail client</h1>
    <p>Your e-mail should have opened in your default e-mail client. Please continue from there.<br><br> Hope to hear from you soon!</p>
    <a id="close" href="#">Close</a>
  </div>
</div>
<article class="about">
<div class="biography">
  <div class="bio-card">
    <img src="../images/IMG_0028.JPG" alt="Bryan Stark">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet. Ea mollitia galisum qui rerum totam qui labore nihil! Est velit veniam qui omnis omnis ad suscipit nobis non officia eveniet eum nemo excepturi quo repellendus voluptatem vel praesentium nesciunt! Lorem ipsum dolor sit amet. Ea mollitia galisum qui rerum totam qui labore nihil! Est velit veniam qui omnis omnis ad suscipit nobis non officia eveniet eum nemo excepturi quo repellendus voluptatem vel praesentium nesciunt! Lorem ipsum dolor sit amet. Ea mollitia galisum qui rerum totam qui labore nihil! Est velit veniam qui omnis omnis ad suscipit nobis non officia eveniet eum nemo excepturi quo repellendus voluptatem vel praesentium nesciunt!</p>
  </div>
  <a id='email-button' href="mailto:bryanstark92@gmail.com">Email me</a>
</div>
</article>

<%- include('./partials/footer') %>