<%- include('./partials/head') %>
<%- include('./partials/header') %>

<article>
  <a class="about section" href="/about"><div>About</div></a>
  <a class="resume section" href="/resume"><div>Resumé</div></a>
  <a class="projects section" href="/projects"><div>Projects</div></a>
</article>

<%- include('./partials/footer') %>