<%- include('./partials/head') %>
<%- include('./partials/header') %>

<article class="projects">
  <div class="carousel-container">
    <div class="carousel-button previous">
      <svg class="lnr lnr-chevron-left"><use xlink:href="#lnr-chevron-left"></use></svg>
    </div>
    <div class="carousel-images">
      <img src="../images/project1.webp" alt="Project 1">
      <img src="../images/project2.webp" alt="Project 2">
      <img src="../images/project3.webp" alt="Project 3">
    </div>
    <div class="carousel-button next">
      <svg class="lnr lnr-chevron-right"><use xlink:href="#lnr-chevron-right"></use></svg>
    </div>
  </div>
  <div class="carousel-text">
    <div class="card">
      <h2>Sneaker Closet</h2>
      <p>Lorem ipsum dolor sit amet. Ea mollitia galisum qui rerum totam qui labore nihil! Est velit veniam qui omnis omnis ad suscipit nobis non officia eveniet eum nemo excepturi quo repellendus voluptatem vel praesentium nesciunt!</p>
    </div>
    <div class="card">
      <h2>myRestaurants</h2>
      <p>Lorem ipsum dolor sit amet. Ea mollitia galisum qui rerum totam qui labore nihil! Est velit veniam qui omnis omnis ad suscipit nobis non officia eveniet eum nemo excepturi quo repellendus voluptatem vel praesentium nesciunt! Lorem ipsum dolor sit amet. Ea mollitia galisum qui rerum totam qui labore nihil! Est velit veniam qui omnis omnis ad suscipit nobis non officia eveniet eum nemo excepturi quo repellendus voluptatem vel praesentium nesciunt!</p>
    </div>
    <div class="card">
      <h2>Project 3</h2>
      <p>Lorem ipsum dolor sit amet. Ea mollitia galisum qui rerum totam qui labore nihil! Est velit veniam qui omnis omnis ad suscipit nobis non officia eveniet eum nemo excepturi quo repellendus voluptatem vel praesentium nesciunt! Lorem ipsum dolor sit amet. Ea mollitia galisum qui rerum</p>
    </div>
  </div>
</article>

<%- include('./partials/footer') %>